@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
}

.Box::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
}

.Box::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  transform: skewX(2deg) skewY(4deg);
  background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
  filter: blur(50px);
}

.Box span.elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282c34;
  z-index: 10;
}

input {
  width: 95%;
  padding: 3px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  background: #282c34;
  color: white;
  font-size: 1.2rem;
  border: 2px solid #313963;
  text-align: center;
}

.alertArea {
  height: 17px;
  width: 100%;
  display: block;
  font-size: 10px;
}
/* button {
  position: relative;
  width: 160px;
  height: 60px;
  display: block;
  background: #fff;
  margin: 30px;
  border: 1px solid #040a29;
} */
button {
  position: relative;
  width: 120px;
  height: 40px;
  /* display: block; */
  background: #fff;
  margin: 2px;
  border: 1px solid #040a29;
}
button:before,
button:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #f00;
  transition: 0.5s;
  background: linear-gradient(45deg, #00ccff, #282c34, #d400d4);
}
button:hover:before {
  inset: -3px;
}
button:hover:after {
  inset: -3px;
  filter: blur(10px);
}
button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #282c34;
  z-index: 10;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
